@use '../variables.scss' as *;

.off-canvas {
    &.active {
        display: block !important;
        transform: translateX(0);

        @media screen and (min-width: 992px) {
            display: none !important;
        }
    }

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: $darkGray;
    z-index: 99999;
    transform: translateX(100%);
    transition: ease all 0.3s;

    .off-canvas-wrap {
        padding: 30px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;

        .site-logo {
            width: calc(100% - 40px);
        }

        .menu-toggle-wrapper {
            width: 40px;

            .menu-wrapper {
                .menu-items {
                    margin: 0;
                    padding: 0;

                    .menu__item {
                        .mobile-menu-toggle {
                            font-size: 0;
                            line-height: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 40px;
                            width: 40px;
                            border: 1px solid $accent;
                            border-radius: 0.125rem;
                            background-color: transparent;
                            text-decoration: none;
                            color: $accent;

                            &:before {
                                font-family: $fontAwesome;
                                font-size: 20px !important;
                                line-height: 20px !important;
                                content: "\f00d";
                            }

                            &:hover,
                            &:focus {
                                color: $white !important;
                                background-color: $accentDark;
                            }
                        }
                    }
                }
            }
        }

        .off-canvas-menu {
            height: calc(100% - 45px);
            display: flex;
            width: 100%;
            justify-content: end;
            align-items: center;
            text-align: right;

            .menu-wrapper {
                .menu-items {
                    .menu__item {
                        .menu__link {
                            font-size: 40px;
                            line-height: 50px;
                            text-decoration: none;

                            &.active {
                                color: $white;
                            }

                            &:hover,
                            &:focus {
                                text-decoration: underline;
                            }
                        }

                    }
                }
            }
        }
    }
}