.section-container {
    position: relative;

    >.color-overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    >.container {
        position: relative;
        z-index: 3;
    }
}