/**
 * Montserrat Variable Font
 * Montserrat Italic Variable Font
 **/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
/**
 * Playfair Display Variable Font 
 * Playfair Display Italic Variable Font 
 **/
@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
/************************************
 * Core Font Families
************************************/
/************************************
 * Core site colors
************************************/
.color-black {
  color: #141414 !important;
  transition: ease color 0.4s;
}

.color-white {
  color: #ffffff !important;
  transition: ease color 0.4s;
}

.color-accent {
  color: #4ac1af !important;
  transition: ease color 0.4s;
}

.color-accent-dark {
  color: #2c7369 !important;
  transition: ease color 0.4s;
}

.color-grey {
  color: #f6f6f6 !important;
  transition: ease color 0.4s;
}

.color-gray {
  color: #f6f6f6 !important;
  transition: ease color 0.4s;
}

.color-dark-gray {
  color: #2e2e2e !important;
  transition: ease color 0.4s;
}

.color-dark-grey {
  color: #2e2e2e !important;
  transition: ease color 0.4s;
}

/************************************
 * Section spacing
************************************/
.margin-top-30 {
  box-sizing: border-box;
  margin-top: 30px;
}

.padding-top-30 {
  box-sizing: border-box;
  padding-top: 30px;
}

.margin-top-bottom-30 {
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;
}

.padding-top-bottom-30 {
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
}

.margin-bottom-30 {
  box-sizing: border-box;
  margin-bottom: 30px;
}

.padding-bottom-30 {
  box-sizing: border-box;
  padding-bottom: 30px;
}

.margin-top-60 {
  box-sizing: border-box;
  margin-top: 60px;
}

.padding-top-60 {
  box-sizing: border-box;
  padding-top: 60px;
}

.margin-top-bottom-60 {
  box-sizing: border-box;
  margin-top: 60px;
  margin-bottom: 60px;
}

.padding-top-bottom-60 {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
}

.margin-bottom-60 {
  box-sizing: border-box;
  margin-bottom: 60px;
}

.padding-bottom-60 {
  box-sizing: border-box;
  padding-bottom: 60px;
}

.margin-top-90 {
  box-sizing: border-box;
  margin-top: 90px;
}

.padding-top-90 {
  box-sizing: border-box;
  padding-top: 90px;
}

.margin-top-bottom-90 {
  box-sizing: border-box;
  margin-top: 90px;
  margin-bottom: 90px;
}

.padding-top-bottom-90 {
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 90px;
}

.margin-bottom-90 {
  box-sizing: border-box;
  margin-bottom: 90px;
}

.padding-bottom-90 {
  box-sizing: border-box;
  padding-bottom: 90px;
}

.margin-top-120 {
  box-sizing: border-box;
  margin-top: 120px;
}

.padding-top-120 {
  box-sizing: border-box;
  padding-top: 120px;
}

.margin-top-bottom-120 {
  box-sizing: border-box;
  margin-top: 120px;
  margin-bottom: 120px;
}

.padding-top-bottom-120 {
  box-sizing: border-box;
  padding-top: 120px;
  padding-bottom: 120px;
}

.margin-bottom-120 {
  box-sizing: border-box;
  margin-bottom: 120px;
}

.padding-bottom-120 {
  box-sizing: border-box;
  padding-bottom: 120px;
}

/************************************
 * Newspaper column styling
************************************/
.text-column-2 {
  column-count: 2;
  column-gap: 16px;
}

.text-column-3 {
  column-count: 3;
  column-gap: 16px;
}

.text-column-4 {
  column-count: 4;
  column-gap: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #cccccc;
  background-color: #141414;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  margin-top: 100px;
}

.nav,
nav {
  flex-direction: column;
}
.nav ul,
nav ul {
  margin: 0 !important;
  padding: 0 !important;
}
img {
  max-width: 100%;
  height: auto;
}

.align-left {
  margin-right: 20px;
  max-width: 30%;
  float: left;
}
@media screen and (max-width: 576px) {
  .align-left {
    float: none !important;
    max-width: initial;
    margin-right: auto;
    margin-left: auto;
  }
}

.align-right {
  margin-left: 20px;
  max-width: 30%;
  float: right;
}
@media screen and (max-width: 576px) {
  .align-right {
    float: none !important;
    max-width: initial;
    margin-right: auto;
    margin-left: auto;
  }
}

.align-center.media {
  text-align: center;
  margin-bottom: 20px;
}

.image-style-_6-9 {
  aspect-ratio: 16/9;
}
.image-style-featured-image {
  aspect-ratio: 6/4;
}

.table {
  color: inherit;
  background-color: transparent;
}
.table tbody,
.table tr,
.table td {
  color: inherit;
  background-color: transparent;
}

.text-align-center {
  text-align: center;
}

.breadcrumbs {
  background-color: #2e2e2e;
}
.breadcrumbs .breadcrumb-list .breadcrumb__item {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumbs .breadcrumb-list .breadcrumb__item:first-child:before {
  content: "";
}
.breadcrumbs .breadcrumb-list .breadcrumb__item:first-child .breadcrumb__link:before {
  content: "\f015";
  font-family: "Font Awesome 7 Pro";
  font-size: 16px;
  line-height: 24px;
}
.breadcrumbs .breadcrumb-list .breadcrumb__item:first-child .breadcrumb__link .breadcrumb__text {
  font-size: 0;
  line-height: 0;
  margin-left: 0;
}
.breadcrumbs .breadcrumb-list .breadcrumb__item.active {
  color: #ffffff;
}
.breadcrumbs .breadcrumb-list .breadcrumb__item:before {
  content: "/";
  float: left;
}
.breadcrumbs .breadcrumb-list .breadcrumb__item.current .breadcrumb__text {
  margin-left: 15px;
}

.column-wrapper {
  margin-bottom: 24px;
}
.column-wrapper.styled-box .column-content-wrapper {
  padding: 32px;
}
.column-wrapper .column-content-wrapper {
  height: 100%;
}

.featured-image-text-wrapper {
  height: auto;
}
.featured-image-text-wrapper .featured-content-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.featured-image-text-wrapper .featured-content-wrap .featured-text-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.featured-image-text-wrapper .featured-content-wrap .featured-text-wrap .text-wrapper {
  height: 100%;
}
.featured-image-text-wrapper .featured-content-wrap .featured-text-wrap .text-wrapper > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-container {
  position: relative;
}
.section-container > .color-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.section-container > .container {
  position: relative;
  z-index: 3;
}

.slick-arrow {
  z-index: 10;
  height: auto !important;
  width: auto !important;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-prev:before {
  content: "\f053";
  left: 30px;
  font-family: "Font Awesome 7 Pro";
}
@media screen and (max-width: 1150px) {
  .slick-arrow.slick-prev:before {
    left: 20px;
  }
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow.slick-next:before {
  content: "\f054";
  font-family: "Font Awesome 7 Pro";
  right: 30px;
}
@media screen and (max-width: 1150px) {
  .slick-arrow.slick-next:before {
    right: 20px;
  }
}
.slick-arrow:before {
  display: inline-block;
  font-size: 48px !important;
  color: #4ac1af !important;
}

.slick-dots {
  bottom: 15px !important;
}
.slick-dots button:hover {
  cursor: pointer;
}
.slick-dots button:before {
  color: #4ac1af !important;
  font-size: 16px !important;
}

.footer-social-wrapper > ul > li {
  display: inline-block;
  margin-right: 5px;
}
.footer-social-wrapper > ul > li a {
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid #4ac1af;
  border-radius: 0.125rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer-social-wrapper > ul > li a:hover, .footer-social-wrapper > ul > li a:focus {
  color: #ffffff;
  background-color: #2c7369;
}

.site-footer {
  background-image: url(../../media/noisy-texture-200x200-o39-d100-c-141414-t1.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
}
.site-footer .footer-bottom .copyright-container {
  border-top: 1px solid #4ac1af;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: ease all 0.4s;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99999;
  backdrop-filter: blur(10px);
}
.site-header.sticky {
  height: 70px;
  background-color: rgba(46, 46, 46, 0.9);
}
.site-header .header-site-logo a {
  display: inline-block;
}
.site-header .nav-wrap-main {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header .nav-wrap-main {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
  }
}
.site-header .nav-wrap-main .menu-wrapper .menu-items {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0;
  padding: 0;
}
.site-header .nav-wrap-main .menu-wrapper .menu-items .menu__item {
  position: relative;
}
.site-header .nav-wrap-main .menu-wrapper .menu-items .menu__item .menu__link {
  padding: 5px 8px;
  margin-left: 5px;
}
.site-header .nav-wrap-main .menu-wrapper .menu-items .menu__item .dropdown-list {
  display: none;
}
.site-header .nav-wrap-main .menu-wrapper .menu-items .menu__item:hover > .dropdown-list {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
}
.site-header .nav-wrap-mobile {
  display: none;
}
@media screen and (max-width: 991px) {
  .site-header .nav-wrap-mobile {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
  }
}
.site-header .nav-wrap-mobile .menu-wrapper .menu-items {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0;
  padding: 0;
}
.site-header .nav-wrap-mobile .menu-wrapper .menu-items .menu__item .menu__link {
  font-size: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #4ac1af;
  border-radius: 0.125rem;
  background-color: transparent;
  text-decoration: none;
  color: #4ac1af;
}
.site-header .nav-wrap-mobile .menu-wrapper .menu-items .menu__item .menu__link:before {
  font-family: "Font Awesome 7 Pro";
  font-size: 20px !important;
  line-height: 20px !important;
  content: "\f0c9";
}
.site-header .nav-wrap-mobile .menu-wrapper .menu-items .menu__item .menu__link:hover, .site-header .nav-wrap-mobile .menu-wrapper .menu-items .menu__item .menu__link:focus {
  color: #ffffff !important;
  background-color: #2c7369;
}

.off-canvas.active {
  display: block !important;
  transform: translateX(0);
}
@media screen and (min-width: 992px) {
  .off-canvas.active {
    display: none !important;
  }
}
.off-canvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color: #2e2e2e;
  z-index: 99999;
  transform: translateX(100%);
  transition: ease all 0.3s;
}
.off-canvas .off-canvas-wrap {
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
.off-canvas .off-canvas-wrap .header-site-logo {
  width: calc(100% - 40px);
}
.off-canvas .off-canvas-wrap .menu-toggle-wrapper {
  width: 40px;
}
.off-canvas .off-canvas-wrap .menu-toggle-wrapper .menu-wrapper .menu-items {
  margin: 0;
  padding: 0;
}
.off-canvas .off-canvas-wrap .menu-toggle-wrapper .menu-wrapper .menu-items .menu__item .mobile-menu-toggle {
  font-size: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #4ac1af;
  border-radius: 0.125rem;
  background-color: transparent;
  text-decoration: none;
  color: #4ac1af;
}
.off-canvas .off-canvas-wrap .menu-toggle-wrapper .menu-wrapper .menu-items .menu__item .mobile-menu-toggle:before {
  font-family: "Font Awesome 7 Pro";
  font-size: 20px !important;
  line-height: 20px !important;
  content: "\f00d";
}
.off-canvas .off-canvas-wrap .menu-toggle-wrapper .menu-wrapper .menu-items .menu__item .mobile-menu-toggle:hover, .off-canvas .off-canvas-wrap .menu-toggle-wrapper .menu-wrapper .menu-items .menu__item .mobile-menu-toggle:focus {
  color: #ffffff !important;
  background-color: #2c7369;
}
.off-canvas .off-canvas-wrap .off-canvas-menu {
  height: calc(100% - 45px);
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  text-align: right;
}
.off-canvas .off-canvas-wrap .off-canvas-menu .menu-wrapper .menu-items .menu__item .menu__link {
  font-size: 40px;
  line-height: 50px;
  text-decoration: none;
}
.off-canvas .off-canvas-wrap .off-canvas-menu .menu-wrapper .menu-items .menu__item .menu__link.active {
  color: #ffffff;
}
.off-canvas .off-canvas-wrap .off-canvas-menu .menu-wrapper .menu-items .menu__item .menu__link:hover, .off-canvas .off-canvas-wrap .off-canvas-menu .menu-wrapper .menu-items .menu__item .menu__link:focus {
  text-decoration: underline;
}

.portfolio-item {
  height: auto;
}
.portfolio-item .portfolio-featured-work {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.portfolio-item .portfolio-featured-work .portfolio-content-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}

.portfolio-item {
  height: auto;
}
.portfolio-item .portfolio-archived-work {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.portfolio-item .portfolio-archived-work .portfolio-featured-image .item-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.portfolio-item .portfolio-archived-work .portfolio-featured-image .item-list ul::-webkit-scrollbar {
  display: none;
}
.portfolio-item .portfolio-archived-work .portfolio-featured-image .item-list ul li {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.portfolio-item .portfolio-archived-work .portfolio-featured-image .item-list ul li img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: start;
}
.portfolio-item .portfolio-archived-work .portfolio-content-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #141414;
}

.portfolio-term-label {
  display: inline-flex;
  padding: 2px 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid #4ac1af;
  border-radius: 0.125rem;
  background-color: transparent;
  color: #4ac1af;
  margin-bottom: 5px;
  font-size: 10px;
  margin-right: 5px;
}

.previous-work-form {
  margin-bottom: 20px;
}
.previous-work-form .form-check {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 5px;
}
.previous-work-form input {
  height: 0;
  width: 0;
  opacity: 0;
}
.previous-work-form input:checked + label {
  color: #ffffff;
  background-color: #2c7369;
}
.previous-work-form label {
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #4ac1af;
  border-radius: 0.125rem;
  background-color: transparent;
  color: #4ac1af;
  margin-bottom: 5px;
  transition: ease all 0.5s;
  cursor: pointer;
}
.previous-work-form label:hover, .previous-work-form label:focus {
  color: #ffffff;
  background-color: #2c7369;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 1.5rem;
}

h1,
.h1 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: -0.01563rem;
  text-transform: capitalize;
}

h2,
.h2 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  text-transform: capitalize;
}

h3,
.h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.375rem;
  text-transform: capitalize;
}

h4,
.h4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem;
  text-transform: capitalize;
}

h5,
.h5 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.0045rem;
}

h6,
.h6 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.large-headline {
  font-size: 78px;
  line-height: 1.5em;
  font-family: "Playfair", serif;
}

.headline {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 16px;
  font-family: "Playfair", serif;
}

.subhead {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

a {
  color: #4ac1af;
  transition: ease all 0.5s;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #2c7369;
}
a.arrow-right {
  display: inline-flex;
  font-family: "Montserrat", sans-serif;
  width: auto;
  align-items: center;
  text-decoration: none;
  padding: 10px 0;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}
a.arrow-right:before {
  font-family: "Font Awesome 7 Pro";
  font-size: 12px;
  order: 2;
  text-decoration: none;
  transition: ease all 0.5s;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 0;
}
a.button {
  display: inline-flex;
  align-items: center;
  padding: 0.875rem 1.5rem;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 0.125rem;
}
a.button.transparent {
  color: #4ac1af;
  background-color: transparent;
  border-color: #4ac1af;
}
a.button.transparent:hover, a.button.transparent:focus {
  color: #ffffff;
  background-color: #2c7369;
}
a.button.filled {
  color: #ffffff;
  background-color: #4ac1af;
}
a.button.filled:hover, a.button.filled:focus {
  background-color: #2c7369;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0.875rem 1.5rem;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 0.125rem;
}
.button.transparent {
  color: #4ac1af;
  background-color: transparent;
  border-color: #4ac1af;
}
.button.transparent:hover, .button.transparent:focus {
  color: #ffffff;
  background-color: #2c7369;
}
.button.filled {
  color: #ffffff;
  background-color: #4ac1af;
}
.button.filled:hover, .button.filled:focus {
  background-color: #2c7369;
}

.newspaper-2 {
  column-count: 2;
}
.newspaper-3 {
  column-count: 3;
}
@media screen and (max-width: 767px) {
  .newspaper-3 {
    column-count: 2;
  }
}
.newspaper-4 {
  column-count: 4;
}
@media screen and (max-width: 991px) {
  .newspaper-4 {
    column-count: 3;
  }
}
@media screen and (max-width: 767px) {
  .newspaper-4 {
    column-count: 2;
  }
}
/*# sourceMappingURL=styles.css.map */